Preprocess TICON-4.txt, remove countries, add names

In [2]:
import pandas as pd
from timezonefinder import TimezoneFinder
import country_converter as coco
import os, sys
import json
import time

In [3]:
remove_countries = ["USA"]

# Read TICON-4 data
df = pd.read_csv("data/TICON-4.csv", sep=",")
# df = df[~df["country"].isin(remove_countries)]
df["name"] = None
pd.set_option("display.max_rows", None)

In [4]:
df.columns

Index(['lat', 'lon', 'con', 'amp', 'pha', 'amp_std', 'pha_std', 'missing_obs',
       'no_of_obs', 'years_of_obs', 'start_date', 'end_date', 'gesla_source',
       'tide_gauge_name', 'type', 'country', 'record_quality',
       'datum_information', 'name'],
      dtype='object')

In [34]:
len(df)

241900

In [5]:
# Count unique stations by source
# (assuming stations are uniquely identified by lat/lon)
country_by = df.groupby(["lat", "lon", "country"]).size().reset_index()
country_counts = country_by["country"].value_counts()

print("Countries:")
print(country_counts)
print(f"\nTotal unique stations: {len(country_by)}")
print(f"Total countries: {len(country_counts)}")

Countries:
country
USA    1869
CAN     317
FRA     261
NLD     253
JPN     238
DEU     189
AUS     154
GBR     138
SWE     131
ESP      76
ITA      75
MEX      70
DNK      64
IRL      59
NOR      55
NZL      40
FIN      28
IDN      28
BRA      25
EST      20
CHL      19
MYS      18
ZAF      18
PRT      17
TUR      17
GRC      16
PHL      14
CHN      14
PNG      12
ARG      11
KIR      10
FSM       9
LVA       9
PER       9
ECU       8
BGD       8
PRI       7
COL       7
PAN       7
BGR       6
CRI       6
BEL       6
FJI       6
MDV       6
DOM       5
MOZ       5
ASM       5
MHL       5
POL       5
LKA       4
COK       4
VUT       4
ATA       4
IND       4
MMR       4
VNM       4
RUS       4
SLB       3
SYC       3
NRU       3
EGY       3
OMN       3
GTM       3
BHS       3
MUS       3
SLV       3
CPV       3
HND       3
AGO       3
WSM       3
TUV       3
TON       3
SGP       2
STP       2
GHA       2
PLW       2
COG       2
KEN       2
SHN       2
TZA       2
CMR       2
UKR       2
NIU       2
NGA       2
GRL       2
ROU       2
IRN       2
HRV       2
TTO       2
HKG       2
TWN       2
MRT       2
YEM       2
GRD       2
DJI       2
CUW       2
SEN       2
HTI       2
CUB       2
THA       2
ISL       2
PAK       2
MDG       1
NAM       1
CIV       1
PYF       1
BRB       1
VEN       1
JAM       1
BLZ       1
DMA       1
MNP       1
VCT       1
BHR       1
SVN       1
LTU       1
Name: count, dtype: int64

Total unique stations: 4526
Total countries: 116

In [6]:
# Count unique stations by source
# (assuming stations are uniquely identified by lat/lon)
gesla_source_by = df.groupby(["lat", "lon", "gesla_source"]).size().reset_index()
gesla_source_counts = gesla_source_by["gesla_source"].value_counts()

print("TICON-4 Stations by Source:")
print(gesla_source_counts)
print(f"\nTotal unique stations: {len(gesla_source_by)}")
print(f"Total sources: {len(gesla_source_counts)}")

TICON-4 Stations by Source:
gesla_source
gesla4.CMEMS        669
gesla4.UHSLC_RQ     599
gesla4.USGS         591
gesla4.NOAA         575
gesla4.CRMS         328
gesla4.UHSLC_FD     310
gesla4.MEDS         301
gesla4.WSV          142
gesla4.CDWR         130
gesla4.BOM          125
gesla4.RWS_HIST     123
gesla4.REFMAR       106
gesla4.JODC_JMA      81
gesla4.SMHI          71
gesla4.JODC_PAHB     70
gesla4.RWS           56
gesla4.SFWMD         43
gesla4.BODC          41
gesla4.ISPRA         36
gesla4.UNAM_HIST     35
gesla4.JODC_JCG      31
gesla4.NCDEM         26
gesla4.JODC_GIAJ     25
gesla4.UNAM          24
gesla4.NHS           24
gesla4.MI_C          23
gesla4.TTW           21
gesla4.DA_SAT        17
gesla4.HCT           17
gesla4.CCO           16
gesla4.FMI           14
gesla4.IEO           12
gesla4.CM            12
gesla4.NWFWMD         9
gesla4.MI_R           9
gesla4.NOC            7
gesla4.BfG            5
gesla4.DA_IDH         5
gesla4.DMI            3
gesla4.ESEAS          3
gesla4.DA_MM          2
gesla4.GLOSS          2
gesla4.UZ             1
gesla4.CV             1
gesla4.ICG            1
Name: count, dtype: int64

Total unique stations: 4742
Total sources: 45

In [7]:
datum_information = df.groupby(["lat", "lon", "datum_information"]).size().reset_index()
datum_counts = datum_information["datum_information"].value_counts()

# Count datums
print("TICON-4 Datums:")
print(datum_counts)
print(f"\nTotal unique stations: {len(datum_information)}")
print(f"Total datums: {len(datum_counts)}")

TICON-4 Datums:
datum_information
Unspecified                                                                                    983
USGS Station Datum (see station page for tie to geocentric datum)                              591
Station Datum                                                                                  576
NAVD-88                                                                                        331
Chart Datum (CD)                                                                               301
Zero of Tide Height                                                                            207
Normal Amsterdam Level                                                                         179
See https://cdec.water.ca.gov/ or                                                              130
chart datum                                                                                    125
MSL                                                                                            122
Chart Datum / Lowest Astronomical Tide                                                         119
Zero Hydrographique                                                                            106
RH 2000 (Swedish National Height System 2000)                                                   71
Unknown                                                                                         71
BSCD2000                                                                                        64
DVR90                                                                                           53
Admiralty Chart Datum                                                                           46
Chart Datum                                                                                     45
Admiralty Chart Datum (ACD)                                                                     43
Gauge Zero is 0 ft relative to NGVD-29 Datum or NAVD-88 Datum; check DBHydro site               43
Harbour Local Datum                                                                             41
BHS77                                                                                           28
0 ft NAVD 88                                                                                    26
Ordnance Datum Malin Head                                                                       21
Malin Ordnance Datum                                                                            20
SNN76 / Kronstadt                                                                               20
See Harris County website                                                                       17
Ordnance Datum Newlyn (ODN)                                                                     16
DHHN92 / Amsterdam                                                                              14
theoretical mean water: https://en.ilmatieteenlaitos.fi/theoretical-mean-sea-level              14
TideÂ Gauge Zero (TGZ)                                                                           12
local datum                                                                                     10
Geodetic Datum                                                                                  10
NAD83                                                                                           10
LAS-2000.5                                                                                       9
DHHN92                                                                                           9
Australian Height Datum                                                                          6
PNP                                                                                              5
Malin Head OSGM15 Ordnance Datum                                                                 5
geodetic datum                                                                                   5
NAVD 88                                                                                          4
Lowest Astronomical Tide (LAT)                                                                   3
0 ft NAVD-88                                                                                     3
Ortometric height                                                                                3
Unknown; contact NOAA                                                                            3
LN (Local Datum)                                                                                 2
St. Helena B-Datum June 1993                                                                     1
Unspecified Common Datum                                                                         1
Rothera B-Datum December 2002                                                                    1
Chart Datum                                                                                      1
Tide Pole Adjusted Sea Level                                                                     1
tide gauge zero with respect to NP1                                                              1
0ft NAVD-88                                                                                      1
Unknown; see NOAA station-page for Southport for 1933-1954 Sea-Level Data                        1
NGR333                                                                                           1
2.75 ft NAVD-88                                                                                  1
0.5 ft NAVD-88                                                                                   1
9.5ft NAVD-88                                                                                    1
-4.76 ft NAVD-88                                                                                 1
0.23 ft NAVD-88                                                                                  1
Ascension B-Datum May 1993                                                                       1
17.36 ft below Benchmark 1; Unknown tie to modern datum; contact NOAA for datum information      1
Local Chart Datum                                                                                1
San Francisco Station Datum                                                                      1
NAD84                                                                                            1
Zero of the Alexandria Harbour Tide Gauge                                                        1
Staff of 1908; subtract ~1.9 ft to approximate NAVD-88 to within 0.1ft                           1
NAD85                                                                                            1
Zero Istituto Talassografico                                                                     1
TGZ 73.88 cm below mean sea level                                                                1
Staff of 1870                                                                                    1
Staff of 1860                                                                                    1
Tide Gauge Zero                                                                                  1
TGZ                                                                                              1
Tide Gauge Zero                                                                                  1
ACD                                                                                              1
Name: count, dtype: int64

Total unique stations: 4552
Total datums: 76

In [38]:
record_qualty_by = df.groupby(["lat", "lon", "record_quality"]).size().reset_index()
record_qualty_counts = record_qualty_by["record_quality"].value_counts()

# Count datums
print("TICON-4 Record Quality:")
print(record_qualty_counts)
print(f"\nTotal unique stations: {len(record_qualty_by)}")
print(f"Total unique quality: {len(record_qualty_counts)}")

TICON-4 Record Quality:
record_quality
No obvious issues                            3954
Possible quality control issues               377
Possible datum issues                         136
Possible datum and quality control issues      95
Name: count, dtype: int64

Total unique stations: 4562
Total unique quality: 4