Preprocess TICON-4.txt, remove countries, add names

In [2]:
import pandas as pd
from timezonefinder import TimezoneFinder
from city_from_latlng import get_city_from_latlng
import country_converter as coco
import os, sys
import json
import time

In [9]:
remove_countries = ["USA"]

# Read TICON-4 data
df = pd.read_csv("data/TICON-4.csv", sep=",")
# df = df[~df["country"].isin(remove_countries)]
df["name"] = None

In [10]:
df.columns

Index(['lat', 'lon', 'con', 'amp', 'pha', 'amp_std', 'pha_std', 'missing_obs',
       'no_of_obs', 'years_of_obs', 'start_date', 'end_date', 'gesla_source',
       'tide_gauge_name', 'type', 'country', 'record_quality',
       'datum_information', 'name'],
      dtype='object')

In [11]:
len(df)

241900

In [12]:
# Count unique stations by source
# (assuming stations are uniquely identified by lat/lon)
stations_by = df.groupby(["lat", "lon", "country"]).size().reset_index()
by_counts = stations_by["country"].value_counts()

print("Countries:")
print(by_counts)
print(f"\nTotal unique stations: {len(stations_by)}")
print(f"Total countries: {len(by_counts)}")

Countries:
country
USA    1869
CAN     317
FRA     261
NLD     253
JPN     238
       ...
MNP       1
VCT       1
BHR       1
SVN       1
LTU       1
Name: count, Length: 116, dtype: int64

Total unique stations: 4526
Total countries: 116

In [16]:
# Count unique stations by source
# (assuming stations are uniquely identified by lat/lon)
stations_by = df.groupby(["lat", "lon", "gesla_source"]).size().reset_index()
by_counts = stations_by["gesla_source"].value_counts()

print("TICON-4 Stations by Source:")
print(by_counts)
print(f"\nTotal unique stations: {len(stations_by)}")
print(f"Total sources: {len(by_counts)}")

TICON-4 Stations by Source:
gesla_source
gesla4.CMEMS        669
gesla4.UHSLC_RQ     599
gesla4.USGS         591
gesla4.NOAA         575
gesla4.CRMS         328
gesla4.UHSLC_FD     310
gesla4.MEDS         301
gesla4.WSV          142
gesla4.CDWR         130
gesla4.BOM          125
gesla4.RWS_HIST     123
gesla4.REFMAR       106
gesla4.JODC_JMA      81
gesla4.SMHI          71
gesla4.JODC_PAHB     70
gesla4.RWS           56
gesla4.SFWMD         43
gesla4.BODC          41
gesla4.ISPRA         36
gesla4.UNAM_HIST     35
gesla4.JODC_JCG      31
gesla4.NCDEM         26
gesla4.JODC_GIAJ     25
gesla4.UNAM          24
gesla4.NHS           24
gesla4.MI_C          23
gesla4.TTW           21
gesla4.DA_SAT        17
gesla4.HCT           17
gesla4.CCO           16
gesla4.FMI           14
gesla4.IEO           12
gesla4.CM            12
gesla4.NWFWMD         9
gesla4.MI_R           9
gesla4.NOC            7
gesla4.BfG            5
gesla4.DA_IDH         5
gesla4.DMI            3
gesla4.ESEAS          3
gesla4.DA_MM          2
gesla4.GLOSS          2
gesla4.UZ             1
gesla4.CV             1
gesla4.ICG            1
Name: count, dtype: int64

Total unique stations: 4742
Total sources: 45

In [15]:
stations_by = df.groupby(["lat", "lon", "datum_information"]).size().reset_index()
by_counts = stations_by["datum_information"].value_counts()

# Count datums
print("TICON-4 Datums:")
print(by_counts)
print(f"\nTotal unique stations: {len(stations_by)}")
print(f"Total datums: {len(by_counts)}")

TICON-4 Datums:
datum_information
Unspecified                                                          983
USGS Station Datum (see station page for tie to geocentric datum)    591
Station Datum                                                        576
NAVD-88                                                              331
Chart Datum (CD)                                                     301
                                                                    ...
Staff of 1860                                                          1
Tide Gauge Zero                                                        1
TGZ                                                                    1
Tide Gauge Zero                                                        1
ACD                                                                    1
Name: count, Length: 76, dtype: int64

Total unique stations: 4552
Total datums: 76